/* Typographie */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
:root {
    --blue-1:#73B1F4;
    --blue-2:#5E9CEA;
    --blue-3:#4B89DA;

    --dg-1:#A9BABC;
    --dg-2:#646C77;
    --dg-3:#424953;

    --lg-1:#F4F6F9;
    --lg-2:#E5E8E7;
    --lg-3:#CBD0D8;
}




#search-row-bar {
    height: 60vh;
}

#search-card {
    border-radius: 3rem;
}

.form-field {
    border-radius: 1rem;
}
#submit-btn {
    width: 100%;
}

.search-helpers {
    transition: ease-in-out .4s;
    cursor: pointer;
    border-radius: .5rem;
}
.search-helpers:hover {
    background-color: var(--lg-2);
    transform: scale(1.01);
}

.info-btn {
    border-radius: 1rem;
}