/* 
Un peu de style... 
*/

/* Typographie */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
:root {
    --blue-1:#73B1F4;
    --blue-2:#5E9CEA;
    --blue-3:#4B89DA;

    --dg-1:#A9BABC;
    --dg-2:#646C77;
    --dg-3:#424953;

    --lg-1:#F4F6F9;
    --lg-2:#E5E8E7;
    --lg-3:#CBD0D8;
}


#search-row-bar {
    height: 60vh;
}

#search-card {
    border-radius: 3rem;
}

.form-field {
    border-radius: 1rem;
}

.search-helpers {
    transition: ease-in-out .4s;
    cursor: pointer;
    border-radius: .5rem;
}
.search-helpers:hover {
    background-color: var(--lg-2);
    transform: scale(1.01);
}



.li-result:nth-child(odd) {
    background-color: #F4F6F9;
}


/* BOUTONS */
#submit-search-btn {
    width: 100%;
}

/* Show more btn*/
.btn-blue {
    background-color: var(--blue-2);
    color: white;
    transition: ease-in-out .4s;
    border: 2px solid white;
}
.btn-blue:hover {
    background-color: white;
    color: var(--blue-2);
    border: 2px solid var(--blue-2);
}

.info-btn {
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.btn-more {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1rem;
}
